[submodule "pigGame"]
	path = pigGame
	url = https://github.com/armandabir/pigGame.git
[submodule "tik-tak-toe"]
	path = tik-tak-toe
	url = https://github.com/armandabir/tik-tak-toe.git
[submodule "balance-friends"]
	path = balance-friends
	url = https://github.com/armandabir/balance-friends.git
[submodule "tic-tac-toe-reducer"]
	path = tic-tac-toe-reducer
	url = https://github.com/armandabir/tic-tac-toe-reducer.git
